<a href="https://colab.research.google.com/github/ishan-xy/python-lab/blob/main/worksheet2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. L is a list defined as L= [11, 12, 13, 14].

1. L is a list defined as L= [11, 12, 13, 14].


*   WAP to add 50 and 60 to L.
*   WAP to remove 11 and 13 from L.
*   WAP to sort L in ascending order.
*   WAP to sort L in descending order.
*   WAP to search for 13 in L.
*   WAP to count the number of elements present in L.
*   WAP to sum all the elements in L.
*   WAP to sum all ODD numbers in L.
*   WAP to sum all EVEN numbers in L.
*   WAP to sum all PRIME numbers in L.
*   WAP to clear all the elements in L.
*   WAP to delete L.

In [3]:
L = [11, 12, 13, 14]

# (i) WAP to add 50 and 60 to L
L.append(50)
L.append(60)

# (ii) WAP to remove 11 and 13 from L
L.remove(11)
L.remove(13)

# (iii) WAP to sort L in ascending order
L.sort()

# (iv) WAP to sort L in descending order
L.sort(reverse=True)

# (v) WAP to search for 13 in L
for element in L:
    if element == 13:
        found = True
        break
else:
    found = False
print("Found 13:", found)

# (vi) WAP to count the number of elements present in L
count = len(L)
print("Number of elements:", count)

# (vii) WAP to sum all the elements in L
total_sum = 0
for element in L:
    total_sum += element
print("Sum of all elements:", total_sum)

# (viii) WAP to sum all ODD numbers in L
odd_sum = 0
for num in L:
    if num % 2 != 0:
        odd_sum += num
print("Sum of odd numbers:", odd_sum)

# (ix) WAP to sum all EVEN numbers in L
even_sum = 0
for num in L:
    if num % 2 == 0:
        even_sum += num
print("Sum of even numbers:", even_sum)

# (x) WAP to sum all PRIME numbers in L
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

prime_sum = 0
for num in L:
    if is_prime(num):
        prime_sum += num
print("Sum of prime numbers:", prime_sum)

# (xi) WAP to clear all the elements in L
L.clear()

# (xii) WAP to delete L
del L

Found 13: False
Number of elements: 4
Sum of all elements: 136
Sum of odd numbers: 0
Sum of even numbers: 136
Sum of prime numbers: 0

Write a Python program to sum all the items in a list without using any inbuilt function.

In [4]:
my_list = [1, 2, 3, 4]
total = 0
for num in my_list:
    total += num
print("Sum of the list:", total)

Sum of the list: 10

Write a Python program to multiply all the items in a list without using any inbuilt function.

In [5]:
my_list = [1, 2, 3, 4]
product = 1
for num in my_list:
    product *= num
print("Product of the list:", product)

Product of the list: 24

Write a Python program to generate a 3 * 4 * 6 3D array whose each element is *

In [9]:
rows = 3
cols = 4
depth = 6

array_3d = []
for i in range(rows):
  row = []
  for j in range(cols):
    col = []
    for k in range(depth):
      col.append("*")
    row.append(col)
  array_3d.append(row)

print(array_3d)

[[['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']], [['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*'], ['*', '*', '*', '*', '*', '*']]]

D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.
<br>
(i) WAP to add new entry in D; key=8 and value is 8.8<br>
(ii) WAP to remove key=2.<br>
(iii) WAP to check weather 6 key is present in D.<br>
(iv) WAP to count the number of elements present in D.<br>
(v) WAP to add all the values present D.<br>
(vi) WAP to update the value of 3 to 7.1.<br>
(vii) WAP to clear the dictionary. <br>

In [10]:
D = {1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}

# (i) WAP to add new entry in D; key=8 and value=8.8
D[8] = 8.8

# (ii) WAP to remove key=2
D.pop(2)

# (iii) WAP to check whether key=6 is present in D
key_exists = 6 in D
print("Key 6 exists:", key_exists)

# (iv) WAP to count the number of elements present in D
count = len(D)
print("Number of elements in D:", count)

# (v) WAP to add all the values present in D
total_sum = sum(D.values())
print("Sum of values in D:", total_sum)

# (vi) WAP to update the value of key=3 to 7.1
D[3] = 7.1

# (vii) WAP to clear the dictionary
D.clear()

Key 6 exists: False
Number of elements in D: 5
Sum of values in D: 37.4

S1 is a set defined as S1= [10, 20, 30, 40, 50, 60]. S2 is a set defined as S2= [40, 50, 60, 70, 80,
90]. <br>
(i) WAP to add 55 and 66 in Set S1. <br>
(ii) WAP to remove 10 and 30 from Set S1. <br>
(iii) WAP to check whether 40 is present in S1. <br>
(iv) WAP to find the union between S1 and S2. <br>
(v) WAP to find the intersection between S1 and S2. <br>
(vi) WAP to find the S1 - S2.<br>

In [11]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}

# (i) WAP to add 55 and 66 in Set S1
S1.add(55)
S1.add(66)

# (ii) WAP to remove 10 and 30 from Set S1
S1.discard(10)
S1.discard(30)

# (iii) WAP to check whether 40 is present in S1
found = 40 in S1
print("40 in S1:", found)

# (iv) WAP to find the union between S1 and S2
union_set = S1.union(S2)
print("Union of S1 and S2:", union_set)

# (v) WAP to find the intersection between S1 and S2
intersection_set = S1.intersection(S2)
print("Intersection of S1 and S2:", intersection_set)

# (vi) WAP to find the S1 - S2
difference_set = S1.difference(S2)
print("Difference S1 - S2:", difference_set)

40 in S1: True
Union of S1 and S2: {66, 70, 40, 80, 50, 20, 55, 90, 60}
Intersection of S1 and S2: {40, 50, 60}
Difference S1 - S2: {66, 20, 55}

Write the following program.<br>
(i) WAP to print 100 random strings whose length between 6 and 8.<br>
(ii) WAP to print all prime numbers between 600 and 800. <br>
(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [12]:
import random
import string

# (i) WAP to print 100 random strings whose length is between 6 and 8
for i in range(100):
    length = random.randint(6, 8)
    random_string = ''
    for j in range(length):
        random_string += random.choice(string.ascii_letters)

    print(random_string)

# (ii) WAP to print all prime numbers between 600 and 800
for num in range(600, 801):
    if is_prime(num):
        print(num)

# (iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9
for num in range(100, 1001):
    if num % 7 == 0 and num % 9 == 0:
        print(num)

YvoBHWgP
drRJWB
aWPXpeuH
VQFZsJ
tOJfeze
MjRdceml
cCsDuNA
zTsezJF
JtcibLam
nyXlqjz
DpaDgFhn
sAXffD
BfQGIzl
EPDgUb
jDBZMag
aWdtymrq
cLuGNbk
HqZZTMIq
CpImct
iKrDrFl
Ugcqtkmd
sekSHsnw
rUUAPi
hWqNPN
aINhsmi
BKPiEsXk
ilZcRIyu
yJHhSpUK
sWkBoQr
DcbbzY
yrpNZn
JKYSlYIk
HADovJ
aAlerIj
yukpTDtB
POMoae
AmcVlkz
jQqGhIV
HuKQwG
rKrICnQ
FjqVldh
xDcCil
RRgAeEhO
rEUxVrUB
VzqYWFw
Sbuvuo
hZDmYR
AXwZBgF
fFHLjlK
AGlUnGXO
YRAEkPW
eXStiu
WMlMeFmM
ddGTfNr
RxeHnU
drFZgq
NGBvmW
quOFocPp
TAiXOSaq
vvgrGjq
joYIFAR
htQkiWsR
FElAmwz
FeVKodu
PfEHDJ
ANUihud
qahpQKl
AxxjLUE
YgcnASL
oIAOUB
QimNmh
QmpJtbk
LGqVXJV
ZdirDfLk
ZUsyPP
zenwjHXd
bbzfqj
DVASQSY
uIUfYXaP
MTNAJK
rAzFBL
aRzmMd
guZONY
gnJzhkSt
iBZETPl
AIjhvu
HIGouy
mmJwtbeT
qgPXDy
eIyZvOh
ExwhsqiY
KZQWBX
PkIoypM
nWivva
YsfLHm
bZITZD
mjMDrU
lmbYRU
lKTDQMHu
KnoQUwnj
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
126
189
252
315
378
441
504
567
630
693
756
819
882
945

Write a Python program to display the examination schedule. (extract the date from
exam_st_date). exam_st_date = (11, 12, 2014)

In [13]:
exam_st_date = (11, 12, 2014)
print("The examination will start from: %d/%d/%d" % exam_st_date)

The examination will start from: 11/12/2014

Iterate the given list of numbers and print only those numbers which are divisible by 5.

In [1]:
numbers = [10, 23, 45, 55, 12, 30]
for num in numbers:
    if num % 5 == 0:
        print(num)

10
45
55
30

Write a Python program to check if a given number is even or odd using boolean variables.

In [4]:
num = int(input("Enter a number: "))
is_even = (num % 2 == 0)
if is_even:
  print("Even")
else:
  print("Odd")

Enter a number: 45
Odd

Write a program to find how many times substring “Emma” appears in the given string.

In [5]:
text = "Emma is a good developer. Emma loves coding. Emma is cool."
count = text.count("Emma")
print("Emma appears", count, "times")

Emma appears 3 times

Create a new list from two list using the following condition, Given two list of numbers, write
a program to create a new list such that the new list should contain odd numbers from the first
list and even numbers from the second list.

In [6]:
list1 = [1, 2, 3, 4, 5, 6]
list2 = [7, 8, 9, 10, 11, 12]
new_list = []
for num in list1:
    if num % 2 != 0:
        new_list.append(num)
for num in list2:
    if num % 2 == 0:
        new_list.append(num)
print(new_list)

[1, 3, 5, 8, 10, 12]